<h1>
  {{title | parrot:3:true }}
</h1>
<h3 *ngIf="!(isOpen)">We are closed!!</h3>
<!--<app-listing-adder (pressAdd)="stuffService.add($event)"></app-listing-adder>-->
<div>
  <h3 *ngIf="!(visibleStuff$ | async)?.length">Loading...</h3>
  <app-item-listing [list]="visibleStuff$ | async" (pressBuy)="stuffService.buy($event)" (pressClear)=stuffService.clear() ></app-item-listing>
</div>
<!--<app-listing-total [total]="stuffCount(stuff | async)"></app-listing-total>-->
<router-outlet></router-outlet>